# Copiar a .env y ajustar valores

JWT_SECRET=cambia_este_secreto_por_uno_largo_y_aleatorio

# URL pública de la API (como la ve el navegador del usuario)
NEXT_PUBLIC_API_URL=http://TU_IP_O_DOMINIO:8003

# CORS: origen permitido del frontend
CORS_ORIGIN=http://TU_IP_O_DOMINIO:3004

# MinIO (cambiar en producción)
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
